/* GLOBAL */

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');

html{
	font-size: 62.5%; 
	/* 1 REM === 10PX (DEZ PX) */

	scroll-behavior: smooth;

}

:root{

	--preto-01: #000000;
	--cinza-01: #D9D9D9;
	--cinza-02: #9D9D9D;
	--cinza-03: #585858;
	--cinza-04: #383838;

	--ui-01: #FFFFFF;
	--ui-02: #A3B7CC;
	--ui-03: #5F7E9E;
	--ui-04: #335880;
	--ui-05: #18395C;

	--azul-marca: #2E4F86;
	--azul-claro: #DFE3EF;
	--off-white: #F5E6D4;
	--vermelho: #DD7878;
    --vermelho-02: #f7d1d1;
	--amarelo: #EAAF3F;
	--verde: #366A32;
	--verde-claro: #C3D2C2;
	--verde-claro-02: #688F65;
    --verde-claro-03: #C3D3C2;

    --cabecalho-01: 3rem;
    --cabecalho-02: 2.4rem;
    --cabecalho-03: 2rem;
    --cabecalho-04: 1.6rem;
    --cabecalho-05: 1.2rem;
    --paragrafo-01: 1.2rem;
	    
}

body, *{
    font-family: "Roboto", sans-serif;
}

.container{
	width: 100%;
	padding: 0 2.4rem;
}

/* HEADER */

.header{
	display: none;
}

/* DEPENDENTE */

.dependente{
    margin-top: 5.6rem;
}

.btn-02{
    display: none;
}

.dependente__seta{
    margin-bottom: 2rem;
}

.dependente__seta-btn{
    display: none;
}

.dependente__seta img{
    width: 4.2rem;
}

.dependente__dados h2{
    font-size: var(--cabecalho-02);
    font-weight: 600;
    color: var(--ui-04);
    margin-bottom: 2.4rem;
}

.dependentes{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.dependentes img{
    width: 6.8rem;
    border-radius: 100%;
    margin-right: 1.8rem;
}

.dependentes__info h3{
    font-size: var(--cabecalho-01);
    font-weight: 600;
    color: var(--ui-05);
    margin-bottom: 0.8rem;
}

.dependentes__info h4{
    font-size: var(--cabecalho-03);
    font-weight: 500;
    color: var(--ui-03);
}

.dependentes .btn-primario{
   display: none;
}

.dependentes .btn-secundario{
    display: block;
    background-color: var(--azul-marca);
    padding: 1.2rem;
    border-radius: 50%;
}

.btn-secundario svg{
    width: 1.8rem;
    fill: var(--ui-01);    
}

/* VACINAS */

.vacinas{
    margin-top: 6rem;
    margin-bottom: 8rem;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}

.vacina{
    background-color: var(--verde-claro-03);
    width: 16rem;
    height: 8.4rem;
    padding: 3.6rem 0 1rem 1.4rem;
    border-radius: 0.8rem;
    margin-bottom: 2.4rem;
}

.vacina.alerta{
    background-color: var(--vermelho-02);
    cursor: pointer;
}

.vacina h4{
    font-size: var(--cabecalho-04);
    font-weight: 600;
    color: var(--ui-05);
    margin-bottom: 0.4rem;
}

.vacina h5{
    font-size: var(--cabecalho-05);
    font-weight: 500;
    color: var(--verde);
}

.vacina.alerta h5{
    display: none;
}

.vacina p{
    font-size: var(--paragrafo-01);
    font-weight: 600;
    color: var(--vermelho);
    display: none;
}

.vacina.alerta p{
    display: block;
}

/* MENU */

.menu{
	background-color: var(--azul-claro);
	padding: 2.6rem 0;
	position: fixed;
	bottom: 0;
	width: 100%;
}

.menu__itens{
	display: flex;
	justify-content: space-evenly;
	align-items: flex-start;
}

.menu__itens svg{
	width: 2.4rem;
	fill: var(--ui-04);
}

/* FOOTER */

.footer{
	display: none;
}

@media (min-width: 768px){

    :root{

        --preto-01: #000000;
        --cinza-01: #D9D9D9;
        --cinza-02: #9D9D9D;
        --cinza-03: #585858;
        --cinza-04: #383838;
    
        --ui-01: #FFFFFF;
        --ui-02: #A3B7CC;
        --ui-03: #5F7E9E;
        --ui-04: #335880;
        --ui-05: #18395C;
    
        --azul-marca: #2E4F86;
        --azul-claro: #DFE3EF;
        --off-white: #F5E6D4;
        --vermelho: #DD7878;
        --vermelho-02: #f7d1d1;
        --amarelo: #EAAF3F;
        --verde: #366A32;
        --verde-claro: #C3D2C2;
        --verde-claro-02: #688F65;
        --verde-claro-03: #C3D3C2;
    
        --cabecalho-01: 4.2rem;
        --cabecalho-02: 3.2rem;
        --cabecalho-03: 2.6rem;
        --cabecalho-04: 2.4rem;
        --cabecalho-05: 1.8rem;
        --paragrafo-01: 1.8rem;
        --botao-02: 1.8rem;
            
    }

    .container{
		padding: 0 3rem;
	}

    /* DEPENDENTE */

    .dependente{
        margin-top: 3.8rem;
    }

    .dependente__seta{
        margin-bottom: 5.4rem;
    }

    .dependente__seta img{
        width: 5rem;
    }

    .dependentes img{
        width: 10rem;
        margin-right: 2rem;
    }

    .dependentes .btn-primario{
        display: block;
    }

    .btn-primario{
		text-decoration: none;
		font-size: var(--botao-02);
		font-weight: 600;
		color: var(--ui-01);
		background-color: var(--ui-05);
		text-align: center;
		width: 22.3rem;
		padding: 1.6rem 0;
		border-radius: 1.2rem;
	}
     
    .dependentes .btn-secundario{
        display: none;        
    }
    

    /* VACINAS */

    .vacina{
        width: 34.2rem;
        height: 11rem;
        padding: 4rem 0 1rem 2rem;
    }
    

    /* MENU */

	.menu__itens svg{
		width: 3.6rem;
	}
}

@media (min-width: 1180px){

    :root{

        --preto-01: #000000;
        --cinza-01: #D9D9D9;
        --cinza-02: #9D9D9D;
        --cinza-03: #585858;
        --cinza-04: #383838;
    
        --ui-01: #FFFFFF;
        --ui-02: #A3B7CC;
        --ui-03: #5F7E9E;
        --ui-04: #335880;
        --ui-05: #18395C;
    
        --azul-marca: #2E4F86;
        --azul-claro: #DFE3EF;
        --off-white: #F5E6D4;
        --vermelho: #DD7878;
        --vermelho-02: #f7d1d1;
        --amarelo: #EAAF3F;
        --verde: #366A32;
        --verde-claro: #C3D2C2;
        --verde-claro-02: #688F65;
        --verde-claro-03: #C3D3C2;
    
        --cabecalho-01: 4.2rem;
        --cabecalho-02: 3.2rem;
        --cabecalho-03: 3.2rem;
        --cabecalho-04: 2.4rem;
        --cabecalho-05: 1.8rem;
        --cabecalho-06: 2rem;
        --cabecalho-07: 3.2rem;
        --botao-02: 2.4rem;
        --paragrafo-01: 1.8rem;
        --paragrafo-03: 1.6rem;
            
    }

    .container{
		max-width: 1216px;
		padding: 0 2rem;
		box-sizing: content-box;
		margin: 0 auto;
	}

    .border{
		background-color: var( --ui-05);
		height: 4.8rem;
	}

    /* HEADER */

	.header{
		display: flex;
		justify-content: space-between;
		align-items: center;
		margin-top: 3.2rem;
		margin-bottom: 12rem;
	}

	.header img{
		height: 4.2rem;
	}

	.header__menu{
		display: flex;
		align-items: center;
	}

	.header__menu ul{
		display: flex;
		margin-right: 3.2rem;
	}

	.header__menu li:not(:last-child){
		margin-right: 3.2rem;
	}

	.header__menu li a{
		text-decoration: none;
		font-size: var(--cabecalho-06);
		font-weight: 600;
		color: var(--ui-04);
	}

	.btn-primario{
		text-decoration: none;
		font-size: var(--botao-02);
		font-weight: 600;
		color: var(--ui-01);
		background-color: var(--ui-05);
		text-align: center;
		width: 14.8rem;
		padding: 1.8rem 0;
		border-radius: 1.2rem;
	}

    /* DEPENDENTE */

    .dependente__seta{
        margin-bottom: 12rem;
    }

    .dependente__seta h2{
        font-size: var(--cabecalho-07);
        font-weight: 500;
        color: var(--ui-04);
    }

    .dependente__seta h3{
        font-size: var(--cabecalho-07);
        font-weight: 500;
        color: var(--ui-03);
        margin-left: 1.6rem;
    }

    .dependente__seta-btn a{
        text-decoration: none;
    }

    .btn-01{
        display: none;
    }

    .btn-02{
        display: flex;
        cursor: pointer;
    }

    .btn-02 img{
        width: 2rem;
        margin-right: 1rem;
    }

    .dependente__seta-btn{
        display: flex;
    }

    .dependente__dados h2{
        display: none;
    }

    .dependentes{
        justify-content: space-between;
    }

    .dependentes img{
        width: 14.2rem;
        margin-right: 3.2rem;
    }

    .dependentes__info h3{
        margin-bottom: 2.4rem;
    }

    .dependentes .btn-primario{
        display: block;
        width: auto;
        background-color: var(--azul-marca);
        color: var(--ui-01);
        padding: 2.2rem 6.5rem;
    }

    /* VACINAS */

    .vacinas{
        margin-top: 12rem;
        margin-bottom: 6rem;
    }

    .vacina{
        width: 59.2rem;
        height: 16rem;
        padding: 7rem 0 1rem 5rem;
        border-radius: 2.4rem;
        margin-bottom: 6rem;
    }

    .vacina h4{
        margin-bottom: 1.2rem;
    }

    /* MENU */

	.menu{
		display: none;
	}

    /* FOOTER */

	footer{
		background-color: var(--ui-05);
	}

	.footer{
		display: flex;
		justify-content: space-between;
		padding: 2.4rem;
	}

	.footer p{
		font-size: var(--paragrafo-03);
		line-height: 130%;
		color: var(--ui-01);
	}

	.footer a{
		font-size: var(--paragrafo-03);
		line-height: 130%;
		color: var(--ui-01);
		text-decoration: none;
	}

	.footer svg{
		width: 1.8rem;
		fill: var(--ui-01);
		margin-right: 0.8rem;
	}

}